# Model Building Requirements
numpy
pandas
stockstats
scikit-learn
gym
shimmy
stable-baselines3[mpi]
tensorflow

joblib

# plot
matplotlib

# testing requirements
pytest

# packaging
setuptools
wheel



