# Model Building Requirements
numpy==1.26.4
pandas==2.2.3
stockstats==0.6.2
scikit-learn==1.5.2
gym==0.26.2
shimmy==2.0.0
stable-baselines3[mpi]==2.4.0
tensorflow==2.18.0

joblib==1.4.2

# plot
matplotlib==3.9.2

# testing requirements
pytest==8.3.3

# packaging
setuptools==75.1.0
wheel==0.44.0
